* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Yusei Magic', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ae1616;
  perspective: 800px;
}

.box {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 60px -10px #4affaf;
}

.the-force-box {
  position: absolute;
  top: 0;
  left: -310px;
  display: flex;
  pointer-events: none;
}
.the-force-box p {
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
}
.the-force-box img {
  width: 10rem;
  position: relative;
  top: 5px;
}

.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
}
.card .card-character {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-character .card-character-bg {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(175, 93, 12, 0.75),
    rgba(56, 156, 94, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.card-character .card-character-img {
  width: 18rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.card-info .card-info-title {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}

.card-info .card-info-subtitle {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #ffffff;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.card-info .card-info-seasons {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.card-info .card-info-seasons button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
  transition: 0.3s all ease;
}

.card-info .card-info-seasons button:hover {
  background: #000000;
  color: white;
}

.card-info .card-info-seasons button.active {
  background: #000000;
  color: white;
}

.card-button {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}

.card-button button {
  width: 100%;
  padding: 1rem 0rem;
  background: #000000;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s all ease;
}

.card-button button:hover {
  background: #ffffff;
  color: #000000;
}

